<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" executionOrder="depends,defects" forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true" verbose="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
